# Allow members of the input group to change the DualSense RGB indicator.
# Install this file as /etc/udev/rules.d/99-dualsense-led.rules.
SUBSYSTEM=="leds", KERNEL=="input*:rgb:indicator", ACTION=="add", \
  RUN+="/bin/chgrp input /sys%p/multi_intensity", \
  RUN+="/bin/chmod 0660 /sys%p/multi_intensity"
